/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    color: var(--clr-light);
}

button {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

/* Reset images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
    /* Colors */
    --clr-light-dim: #ffffffb4;
    --clr-dark: #0b0d17; /* Dark background color */
    --clr-light: #ffffff; /* Light text color */
    --clr-accent: #d0d6f9; /* Accent color for text */
    --clr-highlight: #ffffff; /* Highlight color (e.g., for buttons) */

    /* Font Sizes */
    --fs-900: 6rem; /* Large heading (e.g., "SPACE") */
    --fs-800: 3.2rem; /* Medium heading */
    --fs-700: 2rem; /* Small heading */
    --fs-body: 1rem; /* Body text */

    /* Font Weights */
    --fw-regular: 400;
    --fw-bold: 700;

    /* Font Families */
    --ff-sans-normal-para: 'Barlow', sans-serif; /* For body text or general use */
    --ff-serif-headings: 'Bellefair', serif; /* For headings or large text */
    --ff-sans-condensed-nav: 'Barlow Condensed', sans-serif; /* For navigation or small text */

    /* Spacing */
    --spacing-1: 0.5rem;
    --spacing-2: 1rem;
    --spacing-3: 2rem;
    --spacing-4: 4rem;

    /* Other */
    --line-height: 1.5;
    --letter-spacing: 0.1em;
    --container-width: 90%;
    --max-width: 1200px;
}

body {
    /* height: 100dvh; */
    background-image: url('./assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Navigation */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.2rem;
}

.mobile-nav {
    display: none;
}

.tablet-nav {
    display: none;
}

.desktop-nav {
    display: none;
}

.hamburger-menu img {
    width: 34px;
    height: 34px;
}

main {
    height: 100%;
    align-content: center;
}

/* Hero section */
.hero-section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
    padding: 1.2rem;
    gap: 5rem;
}

.hero-text-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.hero-header {
    color: var(--clr-light-dim);
    font-family: var(--ff-sans-condensed-nav);
    font-weight: 400;
    font-size: clamp(1.5rem, 5vw, var(--fs-800));
    text-transform: uppercase;
    text-align: center;
}

.space-text {
    font-size: clamp(2rem, 28vw, 10rem);
    font-family: var(--ff-serif-headings);
    text-align: center;
    text-transform: uppercase;
}

.hero-paragraph {
    width: 90%;
    color: var(--clr-light-dim);
    font-family: var(--ff-sans-normal-para);
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    text-align: center;
}

/* EXPLORE button */
.explore {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-btn {
    background-color: var(--clr-light);
    font-family: var(--ff-serif-headings);
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    border-radius: 50%;
    padding: 2rem 0;
    width: 8rem; /* Adjust size as needed */
    height: 8rem; /* Ensure width and height are equal for a perfect circle */
    text-align: center;
    text-transform: uppercase;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-btn:hover {
    cursor: pointer;
    background-color: var(--clr-light-dim);
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 0 20px var(--clr-light); /* Add a glowing effect */
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1047px) {
    body {
        background-image: url('./assets/home/background-home-tablet.jpg');
        background-position: center;
    }
    /* Navigation */
    .hamburger-menu {
        display: none;
    }

    .nav-bar {
        padding: 0rem;
        align-items: normal;
    }

    .site-logo {
        padding: 2rem;
    }

    .tablet-nav {
        padding: 0 2rem;
        display: flex;
        align-items: center;
        background-color: rgba(
            255,
            255,
            255,
            0.044
        ); /* Semi-transparent white */
        backdrop-filter: blur(10px); /* Apply glass effect blur */
        -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
    }

    .tablet-nav-links {
        display: flex;
        align-items: center;
        gap: 5rem;
        font-family: var(--ff-sans-condensed-nav);
        font-size: 1.4rem;
    }

    /* Hero section */
    .hero-paragraph {
        width: 60%;
    }
}

/* Styles for desktops and larger screens */
@media (min-width: 1048px) {
    body {
        background-image: url('./assets/home/background-home-desktop.jpg');
        background-position: top;
        background-size: cover;
        height: 100dvh;
        overflow: hidden;
    }

    /* Navigation */
    .nav-bar {
        padding: 1.5rem 0 1.5rem 2rem;
    }

    .hamburger-menu {
        display: none;
    }

    .desktop-nav {
        padding: 2rem 2rem;
        display: block;
        background-color: rgba(
            255,
            255,
            255,
            0.044
        ); /* Semi-transparent white */
        backdrop-filter: blur(15px); /* Apply glass effect blur */
        -webkit-backdrop-filter: blur(15px); /* Safari compatibility */
    }

    .desktop-nav-links {
        display: flex;
        gap: 4rem;
        font-family: var(--ff-sans-condensed-nav);
    }

    .desktop-nav-links li a {
        padding: 2rem 0;
        font-size: clamp(1rem, 1.5vw, 1.2rem);
        word-spacing: 0.3rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }

    .desktop-nav-links li a::after {
        content: '';
        display: block;
        height: 2px;
        background-color: var(--clr-highlight);
        transform: scaleX(0);
        transition: transform 0.3s ease;
        position: relative;
        top: 2rem;
    }

    .desktop-nav-links li a:hover::after {
        transform: scaleX(1);
    }

    /* Hero section */
    .hero-section {
        grid-template-columns: 1fr 1fr;
        padding: 0 2.5rem;
        margin-top: 0;
        gap: 0;
    }

    .hero-text-content {
        align-items: flex-start;
    }

    .hero-header {
        text-align: left;
    }

    .hero-paragraph {
        text-align: left;
    }

    /* EXPLORE button */
    .explore {
        align-items: end;
        justify-content: flex-end;
    }

    .explore-btn {
        width: 15rem;
        height: 15rem;
    }
}

@media (min-width: 1200px) {
    /* Navbar */
    .nav-bar {
        padding: 1.5rem 0 1.5rem 5rem;
    }

    .desktop-nav {
        padding: 2rem 5rem;
    }

    /* Hero section */
    .hero-section {
        padding: 0 6.5rem;
    }
}

@media (min-width: 1440px) {
    /* Navbar */
    .nav-bar {
        padding: 1.5rem 0 1.5rem 5rem;
    }

    .desktop-nav {
        padding: 2rem 5rem;
    }

    .desktop-nav-links {
        gap: 6rem;
    }

    /* Hero section */
    .hero-section {
        padding: 0 6.5rem;
    }
}
